# Auto detect text files and perform LF normalization
* text=auto
*.xcuserstate filter=lfs diff=lfs merge=lfs -text
./SeeFood filter=lfs diff=lfs merge=lfs -text
./SeeFood/** filter=lfs diff=lfs merge=lfs -text
./SeeFood/** filter=lfs diff=lfs merge=lfs -text
./SeeFood-ibm/** filter=lfs diff=lfs merge=lfs -text
10-SeeFood/** filter=lfs diff=lfs merge=lfs -text
11-SeeFood-ibm/** filter=lfs diff=lfs merge=lfs -text
12-WhatFlower/** filter=lfs diff=lfs merge=lfs -text
14-PokemonAR/** filter=lfs diff=lfs merge=lfs -text
13-ARDicee/** filter=lfs diff=lfs merge=lfs -text
15-AR[[:space:]]Ruler/** filter=lfs diff=lfs merge=lfs -text
15-AR/[[:space:]]Ruler/** filter=lfs diff=lfs merge=lfs -text

