# Auto detect text files and perform LF normalization
* text=auto
*.xcuserstate filter=lfs diff=lfs merge=lfs -text
./SeeFood filter=lfs diff=lfs merge=lfs -text
./SeeFood/** filter=lfs diff=lfs merge=lfs -text
./SeeFood/**
 filter=lfs diff=lfs merge=lfs -text
.PokemonAR/** filter=lfs diff=lfs merge=lfs -text
./PokemonAR/** filter=lfs diff=lfs merge=lfs -text
./SeeFood-ibm/** filter=lfs diff=lfs merge=lfs -text
./WhatFlower/** filter=lfs diff=lfs merge=lfs -text
