<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>827500844026-ctjq83d6n3nc3ugc825a8bu02es74rpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827500844026-ctjq83d6n3nc3ugc825a8bu02es74rpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDiE8Dvum-4FyPUBbQ_JLqbWTsU8KnGd5E</string>
	<key>GCM_SENDER_ID</key>
	<string>827500844026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.henrystime.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6bc75</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6bc75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827500844026:ios:a1e1c5f539091b96</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-6bc75.firebaseio.com</string>
</dict>
</plist>